@keyframes zoom-in-out {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  50% {
    transform: scale(1.3); /* Aumenta un 20% */
  }
  100% {
    transform: scale(1); /* Vuelve al tamaño original */
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Pantalla completa */
  text-align: center;
  animation: zoom-in-out 3s infinite; /* Animación de zoom */
}

.loading-gif {
  width: 150px; /* Tamaño inicial */
  height: auto;
  margin-bottom: 10px;
}

.hidden {
  display: none !important; /* Ocultar el contenedor cuando la clase "hidden" está activa */
}
